/* Custom CSS */

.home-section {
    padding: 50px 0;
}

.media.stream-item {
    margin-bottom: 1rem;
}

#back-to-top {
    bottom: 15px;
    color: #aaaaaa;
    display: none;
    position: fixed;
    right: 15px;
    border: 0;
}
a.back-to-toc {
    color: currentColor;
}
a.back-to-toc:hover {
    color: red;
    text-decoration: underline;
}
a.back-to-toc:hover i {
    text-decoration: underline;
}

pre {
    border: solid 1px #d8d8d8;
    border-left: solid 2px #b8b8b8;
    border-top: solid 2px #b8b8b8;
    box-shadow: 5px 5px 5px #7f7f7f;
}
pre>code.hljs {
    background-color: #f8f8f8;
}

.media.stream-item {
    border-bottom: solid 1px rgba(0,0,0,0.1);
}

.media.stream-item:only-child,
.media.stream-item:last-child {
    border-bottom: none;
}

article .article-metadata {
    margin-bottom: 15px;
    padding-bottom: 5px;
    border-bottom: solid 1px rgba(0,0,0,0.1);
    /* line-height: 25px; */
}

.article-container h2 {
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: currentColor;
}

#TableOfContents {
    background-color: #f7f7f7;
    border-left: solid 1rem #e0e0e0;
}
#TableOfContents li a {
    font-size: 1rem;
    color: #313131;
}
#TableOfContents ul ul {
    padding-left: 2rem;
}
#toc #toc-expand {
    display: none;
}
#toc #toc-collapse {
    display: none;
}

#breadcrumb {
    font-size: 0.7em;
    font-style: italic;
    padding-top: 10px;
    margin-bottom: -1rem;
}
#breadcrumb .crumb.active {
    text-decoration: none;
}

div.media.stream-item > div.media-body > h3.nometa {
    font-size: 1.5rem;
}
div.media.stream-item > div.media-body > h3.nometa::before {
    font-family: "Font Awesome 5 Free";
    content: " \f03a";
}
div.universal-wrapper.pt-3 h1 {
    border-bottom: solid 3px rgba(0,0,0,1);
}

@media (max-width: 991px) {
    .container .row h1 {
        border-bottom: solid 3px currentColor;
    }
    #demo.home-section .container .row h1 {
        border-bottom: initial;
    }
}