/* Custom CSS */

.home-section {
    padding: 50px 0;
}

.media.stream-item {
    margin-bottom: 1rem;
}

#back-to-top {
    bottom: 15px;
    color: #aaaaaa;
    display: none;
    position: fixed;
    right: 15px;
    border: 0;
}
 